In [1]:
import pandas as pd


df = pd.read_csv("Fs Car_data.csv")


high_price_cars = df[df['Sell Price'] > 4000]
print("Cars with Sell Price > 4000:")
print(high_price_cars)

sorted_df = df.sort_values(by='Sell Price')
print("\nSorted Cars by Sell Price:")
print(sorted_df)


grouped = df.groupby('Make')
print("\nGrouped by Make:")
print(grouped.size())

avg_sell_price = grouped['Sell Price'].mean()
print("\nAverage Sell Price by Make:")
print(avg_sell_price)

Cars with Sell Price > 4000:
         Make      Model   Color  Mileage  Sell Price
2      Toyota      Camry   Black    75006       45000
7   Chevrolet  Silverado   Green   109231        4959
9       Dodge    Charger  Silver    34853        4349
10      Dodge    Charger  Silver    58173        4252

Sorted Cars by Sell Price:
         Make      Model   Color  Mileage  Sell Price
4      Toyota    Corolla   Black    87278        2224
1       Honda     Accord    Blue    95135        2500
5       Honda      Civic   White   138789        2723
8   Chevrolet     Impala  Silver    87675        3791
3      Nissan     Altima   Green    69847        3826
6        Ford      F-150   Black    89073        3950
0       Honda     Accord     Red    63512        4000
10      Dodge    Charger  Silver    58173        4252
9       Dodge    Charger  Silver    34853        4349
7   Chevrolet  Silverado   Green   109231        4959
2      Toyota      Camry   Black    75006       45000

Grouped by Make:
Make
Chevrolet    2
Dodge        2
Ford         1
Honda        3
Nissan       1
Toyota       2
dtype: int64

Average Sell Price by Make:
Make
Chevrolet     4375.000000
Dodge         4300.500000
Ford          3950.000000
Honda         3074.333333
Nissan        3826.000000
Toyota       23612.000000
Name: Sell Price, dtype: float64